.NotesListContainer {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .NotesListContainer {
        flex-direction: column;
        gap: 8px;
    }
}