.footer {
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
    }
}

.footer-content {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
